.backup
tmux/plugins
tmux/resurrect
cmus/autosave
cmus/command-history
karabiner/automatic_backups
__pycache__
*/**/__init__.py
fish/completions
fish/functions/*
fish/fish_variables
!fish/functions/fish_prompt.fish
!fish/functions/f.fish
!fish/functions/e.fish
!fish/functions/cvb.fish
!fish/functions/ll.fish
!fish/functions/weather.fish
fish/conf.d/**
!fish/conf.d/fnm.fish
plugged
